* {
    margin: 0;
}

body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    background-color: lightskyblue;
    position: fixed;
    padding: 25px;
    width: 100%;
}

#nave_menu{
    background-color: white;
    width: 30%;
    position: relative;
    margin-top: 10px;
}

#rodape {
    background-color: lightskyblue;
    padding: 20px;
}

#minha_foto {
    margin-top: 110px;
    text-decoration: none;
    padding: 10px;
    background-color: lightskyblue;
}

a {
    text-decoration: none;
    color: black;
}

nav a:hover{
    background-color: blue;
}

#aprendizado {
    padding: 0px 10px 1px; 
}

#hobbi {
    padding: 0px 10px 1px;
}

#licoes {
    padding: 0px 10px 1px;
}

#procurar {
    text-align: center;
}

#instagram {
    position: relative;
    left: 50%;
    top: 10px;
}

#licoes_a_aprender {
    position: relative;
    left: 250px;
    top: -205px;
}
