body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    margin-top: 0;
    background-color: lightskyblue;
    padding: 25px;
}

footer {
    background-color: lightskyblue;
    padding: 20px;
}